In [1]:
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd

import acquire

codeup: get_blog_articles(article_list)
inshort: scrape_one_page(topic)
inshort: get_news_articles()includes:business sports technology entertainment

# What does unicode do?



print '%r' % normalize('NFD', u'\u00C7')  # decompose: convert Ç to "C + ̧"

print '%r' % normalize('NFC', u'C\u0327') # compose: convert "C + ̧" to Ç

#### circled numbers", like ① (unicode number 2460)
print '%r' % normalize('NFD', u'\u2460')     # u'\u2460'

print '%r' % normalize('NFKD', u'\u2460')    # 1

In [2]:
#     1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:
#         Lowercase everything
#         Normalize unicode characters
#         Replace anything that is not a letter, number, whitespace or a single quote.

def basic_clean(t):
    article = t.lower()
    article1 = unicodedata.normalize('NFKD', article).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    article2 = re.sub(r"[^a-z0-9\s']", '', article1)
    return article2

In [3]:
l = "jfskjf;lZZZkj'sk ldj999"

In [4]:
basic_clean(l)

"jfskjflzzzkj'sk ldj999"

In [5]:
# looks good!

In [6]:
#     2. Define a function named tokenize. It should take in a string and tokenize all the words in the string.

def tokenize(t):
    return ToktokTokenizer().tokenize(t, return_str=True)

In [7]:
l= "cat-hat'sf/ ;fs%df"

In [8]:
tokenize(l)

"cat-hat ' sf/ ; fs % df"

In [9]:
#     3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

def stem(t):
    l = []
    ps = nltk.porter.PorterStemmer()
    for word in t.split():
        stems = ps.stem(word)
        l.append(stems)
        art_stem = ' '.join(l)
    return art_stem

In [10]:
def stem2(t):
    ps = nltk.porter.PorterStemmer()
    for word in t.split():
        stems = ps.stem(word)
        art_stem = ''.join(stems)
        return art_stem

In [11]:
ps = nltk.porter.PorterStemmer()

In [12]:
t = 'I am running and I tripped while singing to the dog in the box'

In [13]:
p = stem(t)
p

'i am run and i trip while sing to the dog in the box'

In [14]:
pd.Series(p).value_counts()

i am run and i trip while sing to the dog in the box    1
dtype: int64

In [15]:
m = stem2(t)
m

'i'

In [16]:
t.split()

['I',
 'am',
 'running',
 'and',
 'I',
 'tripped',
 'while',
 'singing',
 'to',
 'the',
 'dog',
 'in',
 'the',
 'box']

In [17]:
for word in t.split():
    stems = ps.stem(word)
    print(stems)

i
am
run
and
i
trip
while
sing
to
the
dog
in
the
box

In [18]:
for word in t.split():
    stems = ps.stem(word)
    art_stem = ''.join(stems)
    print(art_stem)

i
am
run
and
i
trip
while
sing
to
the
dog
in
the
box

In [19]:
l = t.split()
l

['I',
 'am',
 'running',
 'and',
 'I',
 'tripped',
 'while',
 'singing',
 'to',
 'the',
 'dog',
 'in',
 'the',
 'box']

In [20]:
k = ' '.join(l)
k

'I am running and I tripped while singing to the dog in the box'

pd.Series(stems).value_counts().head(10)
you       22
to        21
and       17
a         16
data      13
scienc    12
what      12
the       10
do        10
we        10
dtype: int64

In [21]:
#     4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

def lemmatize(t):

In [55]:
#     5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.
#     This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

def remove_stopwords(t):
    stopwords_list = stopwords.words('english')
    #stopwords_list.remove(exclude)
    #stopwords_list.append(extra)

    words = t.split()
    filtered_words = [word for word in words if word not in stopwords_list]
    article_without_stopwords = ' '.join(filtered_words)
    return article_without_stopwords

In [50]:
l = 'I am myself and i, we are ourselves and we, potato potatos potatoes'

In [58]:
l1 = 'i am myself and i we are ourselves and we potato potatos potatoes'

In [51]:
#add = ['potato']

In [52]:
#subtract = ['i']

In [56]:
remove_stopwords(l)

'I i, we, potato potatos potatoes'

In [59]:
remove_stopwords(l1)

'potato potatos potatoes'

In [ ]:
# note: you have to clean before you can use stopwords

In [57]:
list(stopwords.words('english'))

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [23]:
#     6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

news = acquire.get_news_articles()

In [24]:
news_df = pd.DataFrame(news)
news_df.head()

,title,content,category
0,India's GDP grows at 13.5% in first quarter of...,India's GDP grew at 13.5% in the first quarter...,business
1,2 top executives at Snap quit hours after repo...,Two senior advertising executives at Snap quit...,business
2,Musk seeks to delay Twitter trial to Nov amid ...,Tesla CEO Elon Musk is seeking to delay the tr...,business
3,"Snap to lay off 20% of staff, cancel several p...",Snap said on Wednesday it will lay off 20% of ...,business
4,Viral video shows Amazon parcels thrown out of...,A video from Guwahati railway station has gone...,business

In [25]:
#     7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

blogs = acquire.get_blog_articles()

In [26]:
codeup_df = pd.DataFrame(blogs)

In [27]:
codeup_df

,title,date_published,content
0,Is a Career in Tech Recession-Proof?,"Aug 12, 2022",\n\n\n\n\n\nGiven the current economic climate...
1,Codeup X Superhero Car Show & Comic Con,"Aug 10, 2022",\nCodeup had a blast at the San Antonio Superh...
2,What Jobs Can You Get After a Coding Bootcamp?...,"Jul 14, 2022",\nHave you been considering a career in Cloud ...
3,What Jobs Can You Get After a Coding Bootcamp?...,"Jul 7, 2022",\nIf you are interested in embarking on a care...

In [28]:
# 8 For each dataframe, produce the following columns:

    #title to hold the title
    #original to hold the original article/post content
    #clean to hold the normalized and tokenized original with the stopwords removed.
    #stemmed to hold the stemmed version of the cleaned data.
    #lemmatized to hold the lemmatized version of the cleaned data.
#

In [29]:
# 9 Ask yourself: ---->                                                          Answers:

#If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?    Answer: Lemmatized
#If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?     Answer: Lemmatized
#If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, 
#would you prefer to use stemmed or lemmatized text?                             Answer: Stemmed